@{
    ViewBag.Title = "ホームページ";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET はHTML、CSS、Javascriptを使って強烈なウェブサイトやウェブアプリケーションを作るための無料のフレームワークです。</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>さあはじめよう</h2>
        <p>
            ASP.NET MVC はとてもいい感じにウェブサイト開発ができます。
        </p>
    </div>
    <div class="col-md-4">
        <h2>追加のライブラリを入手</h2>
        <p>
            NuGetで簡単にライブラリの追加・削除・更新ができます。
        </p>
    </div>
</div>